body {
    background-color: #424549;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

a {
    color: #06b94c;
}

#profilePicture {
    border: 5px solid #242526;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profileContent {
    text-align: center;
}

#profileContent #profileCard {
    display: inline-block;
    background-color: #282b30;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
}

#repoContent {
    text-align: center;
}

#repoContent #repoCard {
    display: inline-block;
    background-color: #282b30;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
}